
.about-me {
  width: 70%;
  margin: 5rem auto;
  min-height: 400px;
  background: var(--pr-w);
  padding: 2rem;
  border-radius: 20px;
}

.am-container{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.am-container-left{
  padding: 2rem;
  padding-left: 5rem;
}
.am-container-left h3 {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.am-container-left h3 span {
  font-weight: 400;
}

.am-container-right {
  padding: 2rem;
}

.am-container-right p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 2rem;
  opacity: 0.6;
  user-select: none;
  line-height: 35px;
}
@media screen and (max-width: 1300px){
  .about-me {
    width: 90%;
  }
  .am-container{
    display: grid;
    width: 100%;
    grid-template-columns:1fr 1fr;
    align-items: center;
  }
  .am-container-left{
    padding: 0.5rem;
  }

  .am-container-left h3 {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  .am-container-left h3 span {
    font-size: 1rem;
  }
  .am-container-right p {
    font-size: 0.8rem;
  }
  .am-container-right {
    padding: 1rem;
  }
  
}

@media screen and (max-width: 630px){
  .about-me {
    width: 90%;
  }
  .am-container{
    display: grid;
    width: 100%;
    grid-template-columns:1fr;
  }
  .am-container-left{
    padding: 0.5rem;
  }

  .am-container-left h3 {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  .am-container-left h3 span {
    font-size: 1rem;
  }
  .am-container-right p {
    font-size: 1.1rem;
  }
  .am-container-right {
    padding: .5rem;
  }
  
}