.services {
  width: 100%;
  min-height: 100vh;
  color: var(--pr-w);
  padding: 2rem;
}

.service-top p{
  margin-left: 8rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.s-title {
  font-size: 5rem;
  margin-left: 7rem;
}
.service-bottom {
  position: relative;
  width: 100%;
  min-height: 85vh;
  margin-left: 150px;
}
.s-card {
  width: 300px;
  height: 380px;
  background: whitesmoke;
  color: black;
  padding: 2rem;
}

.s-card:nth-child(1) {
  position: absolute;
  bottom: 0;
  left: 300px;
}

.s-card:nth-child(2) {
  position: absolute;
  bottom: 190px;
  left: 600px;
  background: #e8e8fa;
}
.s-card:nth-child(3) {
  position: absolute;
  bottom: 380px;
  left: 900px;
  background: #fbd4f2;
}
.s-card:nth-child(4) {
  position: absolute;
  bottom: 570px;
  left: 1200px;
  background: #98f5ff;
}
.s-icon {
  font-size: 4rem;
  text-align: left;
}

.s-card h1 {
  margin-top: 1rem;
}

.s-card p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1rem;
}
