.hero {
  width: 100%;
  min-height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pr-w);
  user-select: none;
}

.hl-content h1 {
  font-size: 4rem;
}

.hl-content h1 span {
  font-size: 5rem;
}

.hl-content h3 {
  font-weight: 400;
  font-size: 1.3rem;
}

.hero-right {
  position: relative;
}

.hero-img1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hero-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  z-index: 1;
}

@media screen and (max-width: 1300px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-left h1 {
    font-size: 2rem;
  }
  .hl-content {
    font-size: 2rem;
  }
  .hl-content h1 span {
    font-size: 2.5rem;
  }
  .hero-img1 {
    max-width: 68%;
  }
  .hero-bg {
    max-width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-left {
    margin-left: 2rem;
  }

  .hero-left h1 {
    font-size: 2rem;
  }
  .hl-content {
    font-size: 2rem;
  }
  .hl-content h1 span {
    font-size: 2.5rem;
  }
  .hero-img1 {
    max-width: 68%;
  }
  .hero-bg {
    max-width: 100%;
  }
}
